@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Owner"]</p>
<address>
    <strong>More information:</strong> <a href="http://lojasRJM.com.br">LojasRJM.com.br</a>
</address>
